.movie img {
  margin-right: 20px;
}
.movie__data {
  margin-right: 10px;
}
.movie .movie__title,
.movie .movie__year {
  margin: 0;
  font-weight: 700;
  font-size: 1.5em;
}
.movie .movie__title {
  margin-bottom: 5px;
  color: #2c2c2c;
}
.movie__year {
  margin-right: 10px;
  font-size: 14px;
  opacity: 0.5;
}
.movie__rating {
  opacity: 0.5;
}
